{"swagger":"2.0","info":{"title":"Northwind Db","description":"API for northwind.now.sh","version":"0.0.0"},"host":"northwind.now.sh","basePath":"/api","schemes":["https"],"paths":{"/products":{"get":{"tags":["Products"],"description":"Products","operationId":"getProducts","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{}},"examples":{"application/json":{"id":4,"supplierId":2,"categoryId":3,"quantityPerUnit":"48 - 6 oz jars","unitPrice":22,"unitsInStock":53,"unitsOnOrder":0,"reorderLevel":0,"discontinued":true,"name":"Chef Anton's Cajun Seasoning"}}}},"security":[]}},"/suppliers":{"get":{"tags":["Suppliers"],"description":"Get suppliers","operationId":"getSuppliers","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Supplier"}},"examples":{"application/json":{"id":4,"companyName":"Tokyo Traders","contactName":"Yoshi Nagase","contactTitle":"Marketing Manager"}}}},"security":[]}}},"definitions":{"Supplier":{"description":"Model for Supplier","required":["address"],"properties":{"address":{"x-example":"{\n  \"street\": \"9-8 Sekimai Musashino-shi\",\n  \"city\": \"Tokyo\",\n  \"region\": \"NULL\",\n  \"postalCode\": 100,\n  \"country\": \"Japan\",\n  \"phone\": \"(03) 3555-5011\"\n}"},"companyName":{"type":"string","x-example":"Tokyo Traders"},"contactName":{"type":"string","x-example":"Yoshi Nagase"},"contactTitle":{"type":"string","x-example":"Marketing Manager"},"id":{"type":"integer","format":"int32","x-example":"4"}}}},"securityDefinitions":{},"security":[],"tags":[{"name":"Products","description":"Operations about Products"},{"name":"Suppliers","description":"Operations about Suppliers"}]}