{"swagger":"2.0","info":{"title":"Northwind Db","description":"API for northwind.now.sh","version":"0.0.0"},"host":"northwind.now.sh","basePath":"/api","schemes":["https"],"paths":{"/products":{"get":{"tags":["Products"],"description":"Products","operationId":"getProducts","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Address"}},"examples":{"application/json":{"id":4,"supplierId":2,"categoryId":3,"quantityPerUnit":"48 - 6 oz jars","unitPrice":22,"unitsInStock":53,"unitsOnOrder":0,"reorderLevel":0,"discontinued":true,"name":"Chef Anton's Cajun Seasoning","supplier":{"id":2,"companyName":"New Orleans Cajun Delights","contactName":"Shelley Burke","contactTitle":"Order Administrator","address":{"street":"P.O. Box 78934","city":"New Orleans","region":"LA","postalCode":70117,"country":"USA","phone":"(100) 555-4822"}}}}}},"security":[]}},"/suppliers":{"get":{"tags":["Suppliers"],"description":"Get suppliers","operationId":"getSuppliers","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Address"}},"examples":{"application/json":{"id":4,"companyName":"Tokyo Traders","contactName":"Yoshi Nagase","contactTitle":"Marketing Manager","address":{"street":"9-8 Sekimai Musashino-shi","city":"Tokyo","region":"NULL","postalCode":100,"country":"Japan","phone":"(03) 3555-5011"}}}}},"security":[]}}},"definitions":{"Product":{"description":"Model for Product","required":["categoryId"],"properties":{"categoryId":{"type":"integer","format":"int32","x-example":"3"},"discontinued":{"type":"boolean","x-example":"true"},"id":{"type":"integer","format":"int32","x-example":"4"},"name":{"type":"string","x-example":"Chef Anton's Cajun Seasoning"},"quantityPerUnit":{"type":"string","x-example":"48 - 6 oz jars"},"reorderLevel":{"type":"integer","format":"int32","x-example":"0"},"supplier":{"$ref":"#/definitions/Supplier","x-example":"{\n  \"id\": 2,\n  \"companyName\": \"New Orleans Cajun Delights\",\n  \"contactName\": \"Shelley Burke\",\n  \"contactTitle\": \"Order Administrator\",\n  \"address\": {\n    \"street\": \"P.O. Box 78934\",\n    \"city\": \"New Orleans\",\n    \"region\": \"LA\",\n    \"postalCode\": 70117,\n    \"country\": \"USA\",\n    \"phone\": \"(100) 555-4822\"\n  }\n}"},"supplierId":{"type":"integer","format":"int32","x-example":"2"},"unitPrice":{"type":"integer","format":"int32","x-example":"22"},"unitsInStock":{"type":"integer","format":"int32","x-example":"53"},"unitsOnOrder":{"type":"integer","format":"int32","x-example":"0"}}},"Address":{"description":"Model for Address","required":["city"],"properties":{"city":{"type":"string","x-example":"Tokyo"},"country":{"type":"string","x-example":"Japan"},"phone":{"type":"string","x-example":"(03) 3555-5011"},"postalCode":{"type":"integer","format":"int32","x-example":"100"},"region":{"type":"string","x-example":"NULL"},"street":{"type":"string","x-example":"9-8 Sekimai Musashino-shi"}}},"Supplier":{"description":"Model for Supplier","required":["address"],"properties":{"address":{"$ref":"#/definitions/Address","x-example":"{\n  \"street\": \"9-8 Sekimai Musashino-shi\",\n  \"city\": \"Tokyo\",\n  \"region\": \"NULL\",\n  \"postalCode\": 100,\n  \"country\": \"Japan\",\n  \"phone\": \"(03) 3555-5011\"\n}"},"companyName":{"type":"string","x-example":"Tokyo Traders"},"contactName":{"type":"string","x-example":"Yoshi Nagase"},"contactTitle":{"type":"string","x-example":"Marketing Manager"},"id":{"type":"integer","format":"int32","x-example":"4"}}}},"securityDefinitions":{},"security":[],"tags":[{"name":"Products","description":"Operations about Products"},{"name":"Suppliers","description":"Operations about Suppliers"}]}